.content {
  display: flex;
  flex-direction: column;

}

.title {
  margin-bottom: -2%;
  color: white;
  text-align: left;
  

}

.postsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

